@charset "UTF-8";

*{
	margin: 0px auto;
	padding: 0px auto;
}

body{
	font-size: 100%;
	font-family: "MS　明朝",serif;
}

#wrapper{
	width: 960px;
	height: auto;
}

#head_access{
	width: 960px;
	height: 286px;
	background-image: url("img/access.jpg");
	background-repeat: no-repeat;
	position: relative;
}

#head_access p{
	position: absolute;
	top: 150px;
	left: 300px;
	color: #fff;
	font-size: 5.3em;
	font-weight: bold;
	letter-spacing: 10px;
}


#contents_access{
	width: 960px;
	height: 650px;
	text-align: center;
	margin: 30px 0px 0px 0px;
}

#contents_access_responsiv{
	display: none;
}

#close_access{
	width: 960px;
	height: 100px;
}


#close_access p{
	color: #000080;
	width: 155px;
	height: 85px;
	display: block;
	line-height: 85px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	border: 1px solid #2F82C9;
}

#close_access a{
	width: 155px;
	height: 85px;
	display: block;
	line-height: 85px;
	text-decoration: none;
	color: #fff;
	background-color: #2F82C9;
}

#close_access a:hover{
	text-decoration: underline;
	background-color: #fff;
	color: #2F82C9;
}

/*-------------------スマホ対応----------------------*/

@media screen and (max-width:480px){/*480px以下*/

.body{
	min-height:100%;/*高さの最小値を決めることで高さを確保させます。デバイスサイズに応じて数値を変更させると、背景画像もレスポンシブに変化します*/
	min-width:300px;
}

#wrapper{
	width: 100%;
	margin: 0px 5px 0px 5px;
}

#head_access{
	display: none;
}

#head_access p{
	display: none;
}
#contents_access{
	display: none;
}

#contents_access_responsiv{
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#access_name{
	font-size: 1.3em;
	font-weight: bold;
	margin: 10px auto;
}

#contents_access_responsiv h3{
	margin:10px auto;
}

#contents_access_responsiv p{
	width: 100%;
	line-height: 1.2;
	margin-bottom: 10px;
	display: block;
}

#contents_access_responsiv p:before{
	content: "■";
}

#close_access{
	width: 100%;
	height: 100%;
	margin: 50px auto;
}

#close_access p{
	color: #2F82C9;
	width: 30%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	border: 1px solid #2F82C9;
	margin-left: 100px;
}

#close_access a{
	width: 100%;
	height: 30px;
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: #fff;
	background-color: #2F82C9;
}

#close_access a:hover{
	width: 100%;
	height: 30px;
	text-decoration: underline;
	background-color: #fff;
	color: #2F82C9;
}


}
