@charset "UTF-8";

*{
	margin: 0px auto;
	padding: 0px auto;
}

body{
	font-size: 100%;
	font-family: "MS　明朝",serif;
}

#wrapper{
	width: 960px;
	height: auto;
}

#head_access{
	width: 960px;
	height: 286px;
	background-image: url("img/access.jpg");
	background-repeat: no-repeat;
	position: relative;
}

#head_access p{
	position: absolute;
	top: 150px;
	left: 300px;
	color: #fff;
	font-size: 5.3em;
	font-weight: bold;
	letter-spacing: 10px;
}


#contents_access{
	width: 960px;
	height: 650px;
	text-align: center;
	margin: 30px 0px 0px 0px;
}

#close_access{
	width: 960px;
	height: 100px;
}


#close_access p{
	color: #000080;
	width: 155px;
	height: 85px;
	display: block;
	line-height: 85px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	border: 1px solid #2F82C9;
}

#close_access a{
	width: 155px;
	height: 85px;
	display: block;
	line-height: 85px;
	text-decoration: none;
	color: #fff;
	background-color: #2F82C9;
}

#close_access a:hover{
	text-decoration: underline;
	background-color: #fff;
	color: #2F82C9;
}
