@charset "UTF-8N";

/*リセットCSS*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;

}

/*ボディー*/
body{
margin:0;
padding:0;
font-family:"MS 明朝",serif;
}

/*全体*/
.wrap{
max-width:1800px;
width:100%;
margin:0 auto;

}

/*サブナビ*/

.subnav-wrap{
	width:960px;
	margin:10px auto;
}

.top-nav{
	width:68%;
	font-size:0px;
	float:left;
}

.subnav{
	width:32%;
	float:right;
}

.subnav ul{

}

.subnav ul li{
	list-style:none;
}

.subnav ul li a{
	float:left;
	width:150px;
	color:#ffffff;
	background:rgb(45,130,203);
	line-height:25px;
	text-decoration:none;
	text-align:center;
	border-right:1px solid rgb(114,171,220);
	display:block;
	border-radius:12.5px 0px 0px 12.5px;
}

.subnav ul li:last-child a{
	border-radius:0px 12.5px 12.5px 0px;
}

/*サブナビホバー（プログラム実装後削除）*/
.subnav ul li a:hover{
	background:rgb(114,171,220);
	color:rgb(45,130,203);
}

/*ヘッダー*/
.header-wrap{
	width:960px;
	margin:0px auto;
}

/*わら講ロゴ*/
.header-left{
	width:22%;
	margin-top:0px;
	height:170px;
	text-align:center;
	float:left;
}
/*	background:rgb(45,71,146);*/


/*ビジネス（タイトルロゴjsあり）　ここから*/
.header-right{
	width:78%;
	height:170px; 
	margin-top:50px;
	margin-bottom:0px;
	text-align:right;
	float:right;

/*	width:80%;
	text-align:right;
	height:170px;
	float:right;
	background:rgb(45,71,146);*/
}

.t_logo{
	width:100%;
	height:60%; 
	text-align:right;
	margin-bottom:0px;
/*	display:flex;floatの代わりに横並び*/
/*	justify-content: right;均等に右揃え*/
}


.t_logo{
	font-size:2.2em;
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.box{
	width:41px;
	height:60px;
	margin-right:5px;
	color:#fff;
	background:rgb(45,130,203);
	text-align:center;
	line-height:60px;
	display:block;
	float:left; 
	position: relative;
}
.spin{
	display: block;
}

.nobgc{
	width:35px;
	height:60px;
	color:rgb(45,130,203);
	margin-right:2px;
	text-align:center;
	line-height:60px;
	background:#fff;
}

.nobgc:last-child{
	width:35px;
	height:60px;
	margin-right:2px;
	color:rgb(45,130,203);
	text-align:center;
	line-height:60px;
	background:#fff;
}

.sub_catch{
	width:649px;
	height:40%;
	text-align:right;
/*	letter-spacing: 0.1em; */
	font-weight:bold;
	padding-top:10px;
	padding-left:20px;
	padding-right:5px;
	margin-right:0px;
	margin-top:-20px;
	margin-left:75px;
	margin-bottom:0px;
	color:#666;
	font-size:18px;
	border-top: 3px solid #403840	;
	
}
/*ビジネス（タイトルロゴjsあり）　ここまで*/

/*メインナビ*/

.nav{
	margin-bottom:10px;
}

.nav ul{

}

.nav ul li{
	list-style:none;

}

.nav ul li a{
	color:#ffffff;
	display:block;
	width:calc(100% / 4);
	float:left;
	line-height:50px;
	text-align:center;
	border-top:1px solid rgb(114,171,220);
	border-right:1px solid rgb(114,171,220);
	border-bottom:1px solid rgb(114,171,220);
	text-decoration:none;
	background:rgb(45,130,203);
	box-sizing:border-box;
}
.nav ul li:last-child a{
	border-right:none;
	width:calc(100% / 4);
	box-sizing:border-box;
}


/*ナビホバー*/
/*
.nav ul li a:hover{
	background:#ffffff;
	color:rgb(45,130,203);
	border:1px solid #4682b4;
}
*/
/*トップ画像*/
.main{
	width:100%;
	margin:0 auto;
}

.image-top{
	width:100%;
	height:auto;
}

.bx-image{
	width:100%;
	height:auto;
}

/*コンテンツ*/

/*ビジネス×笑い*/
.content1{
	margin:10px auto;
	width:100%;
	height:300px;

}

.content1-text1{
	color:#000000;
	text-align:center;
	font-size:38px;
	font-weight:bold;
}

.content1-text2{
	color:#000000;
	text-align:center;
	font-size:100px;
	padding:10px;
	font-weight:bold;
}

.content1-text3{
	color:#000000;
	text-align:center;
	font-size:20px;
	line-height:1.2em;
	font-weight:bold;
}

/*文字色*/
.red{
	color:red;
}

.orange{
	color:orange;
}

/*こんな悩み抱えてませんか*/
.content1-sub{
	background-image:url("img/bgmain01.jpg");
	width:1000px;
	height:690px;
	margin:0 auto;
	background-repeat:no-repeat;
}

.content1-sub-title{
	font-size:50px;
	color:#ffffff;
	padding:60px 20px 40px 20px;
	font-weight:bold;
	margin-left:40px;
}

.content1-sub-text{
	background:#ffffff;
	font-size:20px;
	width:450px;
	opacity:0.7;
	margin-top:10px;
	margin-left:25px;
	margin-bottom:10px;
	padding:40px 20px 40px 20px;
	line-height:2em;
	font-weight:bold;
}

.content1-sub-text ul li{
	list-style:none;
}

/*そんな悩みをスパッと解決*/
.content2{
	margin:10px auto;
	width:100%;
	height:auto;
}

.content2-text1{
	text-align:center;
	font-size:60px;
	padding:10px;
	font-weight:bold;	
}

/*About*/
.content3{
	margin:0 auto;
	width:960px;
	background-image:url("img/about_bg.jpg");
	height:946px;
}

.content3-title-image{
	margin:0 auto;
	margin-top:10px;
	width:960px;
}


.content3-top{
	height:600px;
	padding:10px;
}

.content3-top p{
	font-size:30px;
	padding:10px;
	line-height:1.5em;
	font-weight:bold;
}

.content3-left{
	float:left;
	width:50%;
}

.content3-left p{
	margin-left:50px;
	font-size:20px;
	padding:15px;
	font-weight:bold;
}

.content3-right{
	float:right;
}

/*講義内容*/
.content4{
	margin:0 auto;
	width:960px;
/*	background-image:url("img/1024_768.jpg");*/
	height:100%;
	position: relative;
}

.content4-inner{
	margin:0 auto;
	padding:0;
}

/*.content4 p{
	margin:0 auto;
	width:90%;
	height:90%;
	padding:10px;
	font-weight:bold;
}*/

#curriculum{
	position: absolute;
	top: 155px;
	left: 240px;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
}

/*受講者の声*/
.content5{
	margin:10px auto;
	width:960px;
	background:#ffffff;
	height:auto;
	position: relative;
}

#review{
	position: absolute;
	top: 420px;
	left: 275px;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
}

.content5-box1{
	margin-bottom:10px;
	margin-right:auto;
	width:90%;
	height:100px;
	background:gold;
}

.content5-box2{
	margin-bottom:10px;
	margin-left:auto;
	width:90%;
	height:100px;
	background:gold;
}

.content5-box3{
	margin-bottom:10px;
	margin-right:auto;
	width:90%;
	height:100px;
	background:gold;
}

.content5-box4{
	margin-bottom:10px;
	margin-left:auto;
	width:90%;
	height:100px;
	background:gold;
}

/*講師紹介*/
.content7{
	margin:10px auto;
	width:960px;
	background:rgb(45,71,146);
	height:300px;
	position: relative;
}

#teacher{
	position: absolute;
	top: 70px;
	left: 345px;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
}

/*お問い合わせフォーム*/
.content8{
	margin:10px auto;
	width:960px;
	background:rgb(45,71,146);
	height:300px;
	position: relative;
}

#mail{
	position: absolute;
	top: 165px;
	left: 280px;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
}

/*.content8{
	margin:10px auto;
	width:960px;
	background:rgb(45,71,146);
	height:300px;
}*/

.content9{
	margin:10px auto;
	width:960px;
	background:#cccccc;
	height:300px;
}

.content9 p{
	padding:10px;
}

/*フッターエリア*/
.footer{
	width:960px;
	height:600px;

	background-image: url(img/hultuta-2.png);
	margin:0 auto;
}

.footer1 p{
	 line-height: 2;
	 font-weight: bold;
	 font-size: 18px;

	 letter-spacing: 2px;
}	

address{
	text-align:center;
	background:rgb(36,195,230);
	background-color: #2F82C9;
	color: #fff;
	font-weight: bold;
	padding: 0px 0px 20px 0px;
}

/*スマホ*/
@media screen and (max-width:480px){/*480px以下*/

.body{
	min-height:100%;/*高さの最小値を決めることで高さを確保させます。デバイスサイズに応じて数値を変更させると、背景画像もレスポンシブに変化します*/
	min-width:300px;
}

.nav ul{
	display:none;
}

.nav ul li a{
width:100%;
line-height:30px;
}

.nav ul li:first-child a{
border-top:1px solid #ffffff;
border-right:none;
border-bottom:none;
}

.nav ul li:nth-child(2) a{
border-right:none;
border-bottom:none;
}

.nav ul li:nth-child(3) a{
border-right:none;
}

.nav ul li:last-child a{
border-top:none;
width:100%;
}

.content1{
	margin:10px auto;
	width:100%;
	height:300px;

}

.content2{
	margin:10px auto;
	width:100%;
	height:300px;
}

.content3{
	margin:10px auto;
	width:100%;
	background:rgb(45,71,146);
	height:300px;
}

.content4{
	margin:10px auto;
	width:100%;
	background:rgb(45,71,146);
	height:300px;
}

.content5{
	margin:10px auto;
	width:100%;
	background:rgb(45,71,146);
	height:300px;
}

.content6{
	margin:10px auto;
	width:100%;
	background:rgb(45,71,146);
	height:300px;
}

}

/*スマホ用メニューボタン*/
.menuBtn{
	width: 42px;
	height:42px;
	display: block;
	margin:0;
	position: absolute;

}

.menuBtn span{
	display: block;
	background: #000;
	width: 24px;
	height: 2px;
	position: absolute;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.menuBtn span:first-child {
	top: 12px;
}
.menuBtn span:nth-child(2) {
	margin-top: -1px;
	top: 50%;
}
.menuBtn span:last-child {
	bottom: 12px;
}

.menuBtn.active span:first-child {
	-webkit-transform: translateY(8px) rotate(135deg);
	-moz-transform: translateY(8px) rotate(135deg);
	-ms-transform: translateY(8px) rotate(135deg);
	transform: translateY(8px) rotate(135deg);
}
.menuBtn.active span:nth-child(2) {
	opacity: 0;
}
.menuBtn.active span:last-child {
	-webkit-transform: translateY(-8px) rotate(225deg);
	-moz-transform: translateY(-8px) rotate(225deg);
	-ms-transform: translateY(-8px) rotate(255deg);
	transform: translateY(-8px) rotate(225deg);
}
/*ここまで*/

/*クリアーフィックス*/
.clearfix:after{
content:".";
display:block;
height:0px;
clear:both;
visibility:hidden;
}

.ue {
	position: fixed;
	bottom: 50px;
	right: 50px;
}
